{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {#{{ encore_entry_link_tags('app') }}#}
    <link href="{{ asset('css/features.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/images/fontello-a4f3b1e1/fontello-a4f3b1e1/css/fontello.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="jumbotron big-banner">

        <nav class="navbar fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3" style="background: rgba(0,0,0,0.4);">
            <a class="navbar-brand" href="{{ path('main') }}" style="font-style: italic; font-weight: 700; font-size: 30px; color: darkorange" ><img src="{{ asset('/images/logo2.png') }}" style="width: 60px;" height="60px;" alt="logo">ToDoApp!</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="btn btn-info btn-md mr-3" href="{{ path('category_index') }}">Back to service</a>
                </nav>
            {% else %}
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="navbar-brand text-light" href="{{ path('features') }}">Features</a>
                    <a class="navbar-brand text-light" href="{{ path('pricing') }}">Pricing</a>
                    <a class="navbar-brand text-light" href="#">Contact</a>
                    <a class="btn btn-info btn-md mr-3" href="{{ path('app_login') }}">Log in</a>
                    <a class="btn btn-warning btn-md" href="{{ path('app_register') }}">Sign up</a>
                </nav>
            {% endif %}
        </nav>

        <div class="container" style="margin-top: 20%; color: black">
            <article class="text-center">
                <header class="mt-4 mb-4" style="font-size: 50px; font-weight: 700">Do you feel chaos at work?</header>

                <p><h5>Do you want to relieve your brain and improve your performance?</h5></p>
                <p><h4>Take advantage of our offer now and start with a better self-organization!</h4></p>
                <a class="btn btn-warning btn-lg mt-4" href="{{ path('app_register') }}">Get started ></a>

            </article>
        </div>


    </div>

    <div class="container">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Create you own <span class="text-muted">Task</span></h2>
                <p class="lead">choose or add new category and give tasks title, description and deadline</div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{{ asset('/images/createTask.jpg') }}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Get list of you're  <span class="text-muted">Categories.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="{{ asset('/images/categories.jpg') }}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Get details about you're <span class="text-muted">Tasks.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{{ asset('/images/listoftasks.jpg') }}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">
    </div>

    <footer class="bg-dark text-center text-white ">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-1">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating " href="#" role="button"
                ><i class="icon-facebook"></i
                    ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                ><i class="icon-instagram"></i
                    ></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                ><i class="icon-linkedin"></i
                    ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button"
                ><i class="icon-github-circled"></i
                    ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright: ToDoApp.com
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}
